.main-layout {
    position: relative;
}

.uk-height-1-1.content {
    min-height: calc(100vh - 64px);
}

.main-layout .uk-width-expend {
    overflow-y: auto;
}

.content {
    padding-bottom: 100px;
    height: calc(100vh - 64px);
    overflow-y: auto;
}